{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block extra_css %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Julius Portfolio
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Portfolio_Icon.png' %}">

</head>

<body>

    <!-- NAVIGATION -->
<nav class="navbar">

    <div class="logo">
        JBN
    </div>

    <div class="nav-links">

        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>

    </div>

</nav>

    <main>

        {% block content %}

        {% endblock %}

    </main>


    <!-- FOOTER -->

    <footer class="footer">

        <p>
            © 2026 Julius Negro Portfolio.
        </p>

    </footer>


    <!-- JAVASCRIPT -->


</body>
</html>